<section class="container text-monospace">
  <div class="container text-center">
    {{if .Site.Params.hero.enabled }}
    <img class="rounded-circle" src='{{ .Site.Params.hero.img | absURL }}' title="" width="200px"/>
    {{end}}
		<h3 class="mt-3">{{ .Site.Title }}</h3>
		<span class='text-secondary'>{{ .Site.Params.about }}</span>
		<br><br>
    <div class="bg-white">
			<a href="{{ .Site.Params.github }}"><span class="badge badge badge-dark">Github</span></a>
			<!-- <a href="{{ .Site.Params.gitlab }}"><span class="badge badge-pill badge-danger">Gitlab</span></a> -->
			<a href="{{ .Site.Params.linkedin }}"><span class="badge badge badge-primary">LinkedIn</span></a>
			<!-- <a href="{{ "index.xml" | absURL }}"><span class="badge badge-pill badge-warning">RSS Feed</span></a> -->

    </div>
	</div>
</section>
