<nav class="navbar text-center sticky-top bg-white mt-2 mb-5">
    <a href='{{ .Site.BaseURL }}'><span class="btn btn-sm btn-outline-primary">Home</span></a>
    <a href='{{ "about" | absURL }}'><span class="btn btn-sm btn-outline-secondary">About</span></a>
    <!-- <a href='{{ "post" | absURL }}'><span class="btn btn-sm btn-outline-success">Blog</span></a> -->
    <a href='{{ "lab" | absURL }}'><span class="btn btn-sm btn-outline-danger">Home Lab</span></a>
    <!-- <a href='{{ "tags" | absURL }}'><span class="btn btn-sm btn-outline-warning">Tags</span></a> -->
</nav>
